/* global */
* {
	padding: 0;
	margin: 0;
}

:root {
	--color-heading: #2A9D8F;
	--color-paragraph: #264653;
	--colorbackground: #E9C46A;
	--color-2-background: #F4A261;
	--color-3-background: #E76F51;

	/* headings */
	--font-heading: 'Poltawski Nowy', serif;
	/* paragraphs */
	--font-paragraph: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading)
}

p {
	font-family: var(--font-paragraph)
}

/* html selectors */
/* head */
/* main */
/* footer */

/* class selectors */
/* head */
/* main */
/* footer */

/* id selectors */
/* head */
/* main */
/* footer */