/* global */
* {
	padding: 0;
	margin: 0;
	text-align: center;
}

:root {
	--color-heading: #3A5427;
	--color-paragraph: #1f1e00;
	--color-background-1: #FFD773;
	--color-background-2: #F4A261;
	--color-background-3: #FF8473;

	/* headings */
	--font-heading: 'Poltawski Nowy', serif;
	/* paragraphs */
	--font-paragraph: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
	color: var(--color-heading);
}

body {
	background-color: var(--color-background-1)
}

p {
	font-family: var(--font-paragraph);
	color: var(--color-paragraph)
}

img {
	margin: 0 auto;
	;
}

/* html selectors */
/* head */
/* main */
/* footer */

/* class selectors */
/* head */
/* main */
.color-heading {
	background-color: var(--color-heading);
	color: white;
}

.color-paragraph {
	background-color: var(--color-paragraph);
	color: white;
}

.color-background-1 {
	background-color: var(--color-background-1);
}

.color-background-2 {
	background-color: var(--color-background-2)
}

.color-background-3 {
	background-color: var(--color-background-3)
}

/* footer */

/* id selectors */
/* head */
/* main */
#typography-heading {
	font-family: var(--font-heading);
}
/* footer */