/* global */
* {
	padding: 0;
	margin: 0;

}

:root {
	--color-heading: #3A5427;
	--color-paragraph: #1f1e00;
	--color-background-1: #FFD773;
	--color-background-2: #F4A261;
	--color-background-3: #FF8473;

	/* headings */
	--font-heading: 'Poltawski Nowy', serif;
	/* paragraphs */
	--font-paragraph: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
	color: var(--color-heading);
}

body {
	background-color: var(--color-background-1)
}

p {
	font-family: var(--font-paragraph);
	color: var(--color-paragraph)
}

/* elements */
header {
	display: grid;
}

h1 {
	text-align: center;
}
h2 {
	padding: 16px 0 0 0;
}

h2,
p {
	margin-left: 24px;
}

nav {
	display: block;
	text-align: center;
}

nav li {
	padding: 8px;
}

img {
	height: auto;
	width: 100%;
	border: 1px solid var(--color-heading);

}

main {
	display: grid;
	grid-template-rows: auto;

	margin: auto;
}

footer, header {
	background-color: var(--color-background-2)
}

/* class */
.flyer {
	padding: 16px 0 0 0;
	margin: auto;
}

.flyer img {
	width: 90%;
	display: block;
	margin: auto;
}

.news {
	display: grid;
	gap: 16px;
}

.news__card img {
	display: block;
	width: 80%;
	margin: auto;
}

.information p {
	padding: 8px 16px;
}


/* id */