@media (width > 450px) {

	/* elements */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		text-align: center;
		margin-left: 0 !important;
	}

	nav ul {
		display: flex;
		list-style-type: none;
		justify-content: center;
		font-size: 1.2em;
	}

	h2,
	p {
		margin-left: 12%;
	}

	footer ul {
		display: grid;
		grid-template-rows: auto;
		justify-content: start;
	}

	footer ul li {
		font-size: 1.3em;
	}

	footer ul li:nth-child(1) {
		font-size: 1.4rem;
	}

	/* id */
}