@media (min-width: 800px) {

	/* html selectors */

	nav ul li {
		text-align: center;
		padding: 8px;
		display: block;
	}

	header img {
		margin-right: 24px;
	}

	header h1 {
		margin-left: 8px;
	}

	nav ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	main {
		max-width: 1000px;
	}

	main h2 {
		text-align: left;
		margin-left: 16px;
	}

	/* class selectors */

	.card-container {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 16px;
	}

	.card ul li {
		padding-left: 8px;
	}

	.card {
		box-shadow: 0 0 8px gray;
	}


	/* id selectors */
	#menu {
		display: none;
	}

	/* discover.html */
	.discover {
		display: grid;
		gap: 8px;
		grid-template-columns: 1fr 2fr;
	}

	.aside__2 {
		margin-bottom: 4px;
	}

	/* --- join.html --- */
	/* selectors */

	/* class */
	.benefits--container fieldset {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	/* id */
}