/* Global */
:root {
  --background--1: #ebeadf;
  --background--2: #243328;
}

* {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

/* Selectos */
header {
  background-color: var(--background--1);
}

/* Classes */
.header--container {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.fa-bars {
  padding: 8px;
}

.shopping--cart {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 8px;
}

.banner {
  background-color: var(--background--2);
  color: #ffffff;
  padding: 24px;
  text-align: center;
}

.hero {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 24px auto 8px auto 16px auto auto;
  background-color: var(--background--1);
  height: 500px;
  padding: 0 24px;
}

.hero h1 {
  margin: 0;
  grid-row: 2/3;
}

.hero p {
  grid-row: 4/5;
}

.hero .image--container {
  grid-row: 6/7;
}

.hero img {
  width: 100%;
  height: auto;
  max-width: 400px;
}

.products--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.products--container img {
  width: 300px;
}

.product {
  text-decoration: none;
  color: #000000;
}

.product__content h4 {
  margin-top: 8px;
  margin-bottom: 4px;
}

.sections--containers {
  background-color: var(--background--1);
  padding: 0 24px;
}

.section {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 24px auto 8px auto 16px auto auto;
  max-width: 400px;
  margin: auto;
}

.section h2 {
  grid-row: 2/3;
}

.section p {
  grid-row: 4/5;
}

.section .image--container {
  grid-row: 6/7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section img {
  width: 100%;
  height: auto;
  max-width: 400px;
}

.section2 {
  padding-bottom: 24px;
}

.section2 .image--container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
  max-width: 400px;
}

.section2 .image--container img {
  width: 100%;
  height: 100%;
}

.reviews {
  display: grid;
  grid-template-rows: 24px auto 8px auto 16px auto 32px;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: auto;
  padding: 0 24px;
}

.reviews h3 {
  grid-row: 2/3;
}

.reviews .review1 {
  grid-row: 4/5;
}

.reviews .review2 {
  grid-row: 6/7;
}

.policies--container {
  margin: 0 24px 64px 24px;
}

.policies {
  display: flex;
  flex-direction: column;
  background-color: var(--background--1);
  max-width: 400px;
  margin: 0 auto;
}

.delivery--policy,
.refund--policy {
  padding: 16px;
  display: grid;
  grid-template-rows: 24px 24px auto;
}

/* id */
